
* {
    font-family: "Montserrat", sans-serif;

}

.privyuPtoduct {
    max-width: 300px;
    max-height: 300px;
    border-radius: 30px;

}

.product {
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    width: 1500px;

}

.heading {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    color: white;
}

.nav {
    margin-left: 30px;
    text-decoration: none;
    color: #a3a3a3;
    font-size: 22px;
}

.nav:hover {
    color: #32666F;
}

button {
     background-color: #9AA8AB;
     color: black;
     border: none;
     min-width: 100px;
     height: 50px;
     padding: 0;
     border-radius: 10px;
     cursor: pointer;
     font-size: 18px
}

button:hover {
    background-color: #32666F;
    color: white;
    border: none;
}

.text-h2 {
    color: #32666F;
    font-size: 20px;
}

.logo {
    background-color: #32666F;
    padding: 10px;
    border-radius: 10px;
}

.productlist {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    width: auto;
    height: 300px;
    margin-left: 20px;

}

.priceSection {
    min-width: 100px;
    text-align: center;
    margin-left: 20px;
}

.productCard {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;

}

.productInfo {
    margin-left: 150px;
    margin-top: 2%;

}

.productDel {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.but {
    margin-left: 30%;
    margin-top: 7%;
    text-align: center;
}

.productImage {
    max-width: 700px;
    max-height: 700px;

}

a {
    text-decoration: none;
}