.product_Card {
    height: auto;
    width: auto;
    background-color: #32666F;
    border-radius: 20px;

}

.product_image {
    border-radius: 20px;
    object-fit: cover;
    max-width: 300px;
    max-height: 300px;
    display: center;

}

.product_text {
    width: 300px;
    height: 200px;
    font-size: 14px;
}

.product-list {
    padding: 30px;
    display: inline-block;
}