{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>


<div class="heading">

    <div class="logo">
        <h1>АнтиМаг</h1>
    </div>

    <div class="nav">
        <a href="/">Главная</a>
        <a href="product">Продукция</a>
        <a href="akchuya">Акция</a>
    </div>

</div>


    {% for product in products %}
    <div class="productlist">

        <div class="product">
            <img class="privyuPtoduct" src="{{  product.image_url  }}">
            <div class="text">
                <h2>{{ product.name }}</h2>
                <p>{{ product.descript }}</p>
            </div>

            <div class="priceSection">
                <h3>{{ product.price }} pуб</h3>
                <button>Беру!</button>
                <button>Пока ещё думаю...</button>
            </div>
        </div>

    </div>
    {% endfor %}

