<style>
    * {
        ont-family: Arial
    }

    img {
        max-width: 300px;
        max-height: 300px;
    }

    .product {
        background-color: #32666F;
        display: flex;
        border: 5px solid #32666F;
        margin-top: 10px;
    }

    .heading {
        display: flex;
        align-items: center;
    }
</style>
<div class="heading">
    <h1>АнтиМаг</h1>

    <a href="/">Главная</a>
    <a href="product">Продукция</a>
    <a href="akchuya">Акция</a>

</div>

<div class="product">
    <img src="https://images.uzum.uz/co9671sqk7bc30trm5s0/t_product_540_high.jpg">
    <div >
        <h2>Зубная щетка</h2>
        <p>Зубна́я щётка — основной инструмент для удаления мягких отложений с поверхности зубов и дёсен. Как правило, применяется с использованием зубной пасты.</p>
    </div>
</div>

<div class="product">
    <img src="https://cdn.tveda.ru/thumbs/db1/db1672abf59a61528878954069d78d8b/d80c8f436673eaf69a945d2955c44b38.jpg">
    <div>
        <h2>Помидор</h2>
        <p>Тома́т или помидо́р — однолетнее или многолетнее травянистое растение, вид рода Паслён семейства Паслёновые. Возделывается как овощная культура; выращивается ради съедобных плодов — сочных многогнёздных ягод различной формы и окраски, также называемых томатами или помидорами.</p>
    </div>
</div>