{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>

<div class="heading">

    <div class="logo">
        <h1>АнтиМаг</h1>
    </div>

    <div class="nav">
        <a href="/">Главная</a>
        <a href="product">Продукция</a>
        <a href="akchuya">Акция</a>
    </div>

</div>


<div class="productCard">

    <img  class="productImage" src="{{ product.image_url }}">
    <div class="productInfo">
        <h1>{{ product.name }}</h1>
        <h3>{{ product.price }}</h3>

        <div class="but">
            <button>Беру!</button>
        </div>

    </div>

</div>

<div class="productDel">
    <h1>Описание</h1>
    <p>
        {{ product.descript }}
    </p>
</div>


